<div class="topic-area section-padding40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Danh sách các bài giảng tiêu biểu nhất</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic1.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Lập trình C++ nâng cao</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic2.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Thực hành với SQL</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic3.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Python cơ bản</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic4.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Cấu trúc dữ liệu và giải thuật</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic5.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Lập trình Python nâng cao</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic6.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Phát triển ứng dụng di động</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic7.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">An ninh mạng cơ bản</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img src="/courses-master//courses-master/assets/img/gallery/topic8.png" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="#">Mã nguồn mở</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="section-tittle text-center mt-20">
                    <a href="courses.html" class="border-btn">Xem thêm các bài giảng</a>
                </div>
            </div>
        </div>
    </div>
</div>