@model IEnumerable<BTL.Data.Lecture>

@if (Model != null && Model.Any())
{
    <div class="topic-area section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Danh sách các bài giảng tiêu biểu nhất</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var topRatedLectures in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="@topRatedLectures.Image" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">@topRatedLectures.LectureName</a></h3>
                                        <p>Đánh giá: @topRatedLectures.Rating</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <p>No lectures available.</p>
}