@model IEnumerable<BTL.Data.User>

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E_Learning</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/courses-master/courses-master/assets/img/favicon.ico">

    <!-- CSS ở đây -->
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/slick.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/courses-master/courses-master/assets/css/style.css">
</head>
<body>

    <main class="login-body" data-vide-bg="/courses-master/courses-master/assets/img/login-bg.mp4">
        <form class="form-default" action="/SignIn/Register" method="POST" id="registerForm">

            <div class="login-form">
                <div class="logo-login">
                    <a href="index.html"><img src="/courses-master/courses-master/assets/img/logo/loder.png" alt=""></a>
                </div>
                <h2>Đăng ký tại đây</h2>

                <div class="form-input">
                    <label for="FullName">Họ và tên</label>
                    <input type="text" name="FullName" placeholder="Họ và tên">
                </div>
                <div class="form-input">
                    <label for="Email">Địa chỉ Email</label>
                    <input type="email" name="Email" placeholder="Địa chỉ Email">
                </div>
                <div class="form-input">
                    <label for="PasswordHash">Mật khẩu</label>
                    <input type="password" name="PasswordHash" placeholder="Mật khẩu">
                </div>
                <div class="form-input">
                    <label for="confirmPassword">Xác nhận Mật khẩu</label>
                    <input type="password" name="confirmPassword" placeholder="Xác nhận Mật khẩu">
                </div>
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Đăng ký">
                </div>
                <!-- Quên Mật khẩu -->
                <a href="/Login/Login" class="registration" style="text-decoration: none;">
                    <i class="fas fa-arrow-left"></i> Quay lại trang đăng nhập
                </a>
            </div>
        </form>
        <!-- /kết thúc form đăng nhập -->
    </main>
    <script src="~/courses-master/courses-master/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/courses-master/courses-master/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/popper.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/courses-master/courses-master/assets/js/jquery.slicknav.min.js"></script>

    <!-- Video bg -->
    <script src="~/courses-master/courses-master/assets/js/jquery.vide.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/courses-master/courses-master/assets/js/owl.carousel.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/courses-master/courses-master/assets/js/wow.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/animated.headline.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/courses-master/courses-master/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/courses-master/courses-master/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="~/courses-master/courses-master/assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/courses-master/courses-master/assets/js/jquery.counterup.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/waypoints.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.countdown.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/courses-master/courses-master/assets/js/contact.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.form.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.validate.min.js"></script>
    <script src="~/courses-master/courses-master/assets/js/mail-script.js"></script>
    <script src="~/courses-master/courses-master/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/courses-master/courses-master/assets/js/plugins.js"></script>
    <script src="~/courses-master/courses-master/assets/js/main.js"></script>
    <script>
        $(document).ready(function() {
            $('#registerForm').on('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = {
                    FullName: $('input[name="FullName"]').val(),
                    Email: $('input[name="Email"]').val(),
                    PasswordHash: $('input[name="PasswordHash"]').val(),
                };

                $.ajax({
                    url: '/SignIn/Register', 
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        alert('Đăng kí thành công!');
                        window.location.href = '/Login/Login';
                    },
                    error: function(xhr, status, error) {
                        
                        alert('Đăng kí thất bại: ' + error);
                    }
                });
            });
        });
    </script>
</body>
</html>