<footer>
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="/courses-master/courses-master/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Các bài giảng cung cấp dựa trên nhu cầu học hỏi và tìm hiểu của người dùng.
                                            Chúng tôi luôn mang đến cho bạn những bài giảng bổ ích nhất.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Về E_Learning</h4>
                                <ul>
                                    <li><a href="#">Giới thiệu</a></li>
                                    <li><a href="#">Liên Hệ</a></li>
                                    <li><a href="#">Điều khoản</a></li>
                                    <li><a href="#">Bảo mật</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Sản phẩm</h4>
                                <ul>
                                    <li><a href="#">Sách E_Learning C/C++</a></li>
                                    <li><a href="#">Sách E_Learning FullStack</a></li>
                                    <li><a href="#">Sách E_Learning GameDeveloper</a></li>
                                    <li><a href="#">Sách Lộ trình học E_Learning</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Tuyển dụng</h4>
                                <ul>
                                    <li><a href="#">Giảng viên & trợ giảng</a></li>
                                    <li><a href="#">Nhân viên bảo trì hệ thống</a></li>
                                    <li><a href="#">Chuyên viên tư vấn</a></li>
                                    <li><a href="#">Quản lý hệ thống</a></li>
                                    <li><a href="#">Khác</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
    </div>
</footer>